<!DOCTYPE html>
<html>
<head>
	<title>重置SAP密码</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container">
		<h1 class="text-center my-5">重置SAP密码</h1>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form>
					<div class="form-group">
						<label for="username">用户名</label>
						<input type="text" class="form-control" id="username" v-model="username" required>
						<br>
						<label>系统:</label>
						<select v-model="system" class="mb-0" size="lg" required>
						<option value="system1">系统1</option>
						<option value="system2">系统2</option>
						<option value="system3">系统3</option>
						</select>
						<br>
					</div>
					<button :disabled="loading" @click.prevent="resetPassword" class="btn btn-primary">{{ buttonMessage }}</button>
				</form>
				<div v-if="message" class="mt-3 alert" v-bind:class="{'alert-success': success, 'alert-danger': !success}" role="alert">{{ message }}</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@0.27.2/dist/axios.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data() {
				return {
					username: '',
					system: 'system1',
					loading: false,
					message: '',
					success: false
				};	
			},
			computed: {
				buttonMessage() {
            		return this.loading ? '处理中...' : '提交';
         		}
			},
			methods: {
				resetPassword: function() {
					var self = this;
					self.loading = true;
					let formData = new FormData();
					formData.append('username', self.username);
					axios({
					  method: 'post',
					  url: 'http://localhost:5000/reset_password',
					  data: formData
					}).then(function(response) {
						self.message = '新密码为：' + response.data.new_password;
						self.success = true;
					}).catch(function(error) {
						self.message = '重置密码失败，请检查用户名是否正确！';
						self.success = false;
					})
					.finally(() => {
						this.loading = false;
					});
				}
			}
		});
	</script>
</body>
</html>
